<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


<!-- xlxs scripta tag for excel to json -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js" integrity="sha512-fQ6X8IIj+AvZyOG6HFXONC0xubDlH3+gbW+QgozYfs9Ra1iSSTLBv7qaLLhea6S62U9GHJjPyyWj5ivz7UJqCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Template Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="{% static 'img/8we-logo-removebg-preview.png' %}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse floatRight" id="navbarSupportedContent">
            <div class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">Eightwe</a>
              </div>
              <div class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">SuperMoms Internship</a>
              </div>
            
              <button  id="" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill  " value="Contact Us">Contact Us</button>
                
        </div>
        </div>
    </nav>   

    <div class="container">
      <div class="maxWidth box">
        <form method="post" class="form" name="google-sheet">
          {% csrf_token %}
          <select name="cars" name="Batch" class="batch" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
          <div class="form-group " >
            <input type="text" placeholder="Name" name="Name" class="form-control name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Qualification" name="Qualification" class="form-control qua">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Years of Experience" name="Years of Experience" class="form-control year">
          </div>
          <div class="form-group">
            <input type="text" placeholder="CV Summary" name="CV Summary " class="form-control cv">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Years of break in career" name="Years of break in career" class="form-control break">
          </div>
          <select name="status" class="Status" id="cars">
            <option value="Paid Internship - Selected">Paid Internship - Selected</option>
            <option value="Free Internship - Selected">Free Internship - Selected</option>
            <option value="Not Selected">Not Selected</option>
          </select>
          <div class="form-group">
            <input type="tel" min="10" max="10" placeholder="Mobile Number" name="Mobile Number " class="form-control num">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" name="Email" class="form-control email">
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btnSubmit btn-block" value="Submit" />
        </div>
        </form>
      </div>
    </div>
    
 <!-- JavaScript Libraries -->
 <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
 <script src="{% static 'lib/wow/wow.min.js' %}"></script>
 <script src="{% static 'lib/easing/easing.min.js' %}"></script>
 <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
 <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
 <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

 <!-- Template Javascript -->
 <script src="{% static 'js/main.js' %}"></script>

 <script>
    // var Batch = $(".batch").val();
      
        // var Name = $(".name").val();
        // var Qualification = $(".name").val();
        // var Years_of_Exp = $(".name").val();
        // var CV_Summary = $(".name").val();
        // var Years_of_Break = $(".name").val();
        // var Status = $(".name").val();
        // var Mobile_Number = $(".name").val();
        // var Email = $(".name").val();

        const scriptURL = 'https://script.google.com/macros/s/AKfycbxe90l_g27rdlCXEOjI076dea2S4vRsbayuh9rdkccalmy_dOBHvwkv-Rbddi2C4OGmLQ/exec'
            const form = document.forms['google-sheet']
            console.log("yes");
            form.addEventListener('submit', e => {
              e.preventDefault();
              console.log(form)
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
                .catch(error => console.error('Error!', error.message))
            })
        
  </script>
</body>
</html>